template.1.path=../templates/XSDDoc/FramedDoc.tpl
template.1.tabs=*,203
template.1.window=916,585,80,80
template.2.path=../templates/XSDDoc/PlainDoc.tpl
template.2.tabs=*,202
template.2.window=914,535,79,92
template.3.path=../templates/XMLDoc/FramedDoc.tpl
template.3.tabs=*,165
template.3.window=896,362,74,196
template.4.path=../templates/XMLDoc/PlainDoc.tpl
template.4.tabs=*,196
template.4.window=800,600,80,80
template.5.path=../samples/personal/personal.tpl
template.5.tabs=*,184
template.5.window=897,532,74,126
template.6.path=../samples/sales/sales.tpl
template.6.tabs=*,189
template.6.window=857,667,45,37
