#---------------------------------------------------------------------
# Macros
#---------------------------------------------------------------------
#
# Example:
#
# Defining a macro:
#   macro.macro_name = some value
#
# Using it:
#   property_name = %macro_name%
#
# The macros defined here can be called within this config file
# (including the values of other macros) as well as within the
# XML Type Configuration Files
#
# Note: the macro names are case-sensitive.
#
# There are following predefined macros:
#
# THIS_DIR - the absolute path name of the directory containing
#            the given config file (i.e. where this macro is used)
#
# DFH      - the absolute path name of the DocFlex home directory.
#            By default it is the directory of this config file.
#            It can be overridden below with any other pathname that
#            should be defined either absolutely or relatively to 
#            the directory of this config file. (The relative pathname
#            will be converted automatically to the absolute one.
#            So, this macro always returns the absolute pathname.)
#
# Note: macro name 'URL' is reserved for the openURL command (see below).
#---------------------------------------------------------------------

macro.DFH = ..

#---------------------------------------------------------------------
# Default Directories
#---------------------------------------------------------------------
# should be specified either as absolute pathnames
# or relatively to the directory of this config file
# (an empty value specifies just this directory)
#---------------------------------------------------------------------

# default template directory
template.directory = %DFH%/templates

# default output directory
output.directory = %DFH%/out

#---------------------------------------------------------------------
# Configuration Files
#---------------------------------------------------------------------
# should be specified either as absolute pathnames 
# or relatively to the directory of this config file
#---------------------------------------------------------------------

# Specify the location of default XML catalog file
xml.defaultcatalog.file = %DFH%/lib/resources/catalog.xml

# Specify the locations of XML Type Configuration Files that always need 
# to be loaded automatically by both the Template Designer and Generator
# (independent of the -xmltype option on the command line or finding them
# near templates). Multiple file pathnames should be separated with 
# semicolon (';')

dsmtype.config.files = %DFH%/templates/XSDDoc/xsddoc.xmltype; \
                       %DFH%/templates/XMLDoc/xmldoc.xmltype

# The default location of the generator configuration file
generator.config.file = %DFH%/config/generator.config

# The default location of the Template Designer configuration file
designer.config.file = %DFH%/config/designer.config

#---------------------------------------------------------------------
# DocFlex License Files
#---------------------------------------------------------------------
# Here, you can specify different pathnames of your license files.
# Multiple pathnames should be separated with semicolon (';')
#
# If the location of a necessary license file is unknown,
# by default, it is initially looked for in the directory
# contaning DocFlex/XML Java library: 'docflex-xml.jar'
#---------------------------------------------------------------------

#license.files = docflex-xml.license

#---------------------------------------------------------------------
# The external application to open a URL
#---------------------------------------------------------------------
# This is invoked to launch a viewer for the generated documentation
# (as well as to handle any other URL open requests)
#
# The URL is passed via %URL% macro.
#
# If you need certain types of documents or URLs to be open with
# different applications, use the following extended setting 
# for each particular document/URL type:
#
#   openURL.<n>.mimeType = [text/plain | text/html | application/rtf]
#   openURL.<n>.protocol = <url protocol>
#   openURL.<n>.command  = <system command>
#   openURL.<n>.command.params = <command parameter string>
#
# The following settings specify opening each RTF document with 
# OpenOffice.org Writer, each e-mail with Evolution emailer and 
# any other URL with Firefox web-browser:
#---------------------------------------------------------------------

openURL.1.mimeType = application/rtf
openURL.1.command  = xdg-open
openURL.1.command.params = %URL%

openURL.2.protocol = mailto
openURL.2.command  = xdg-email
openURL.2.command.params = %URL%

openURL.3.command = xdg-open
openURL.3.command.params = %URL%
