#Sat Jul 05 20:06:17 CEST 2014
output.dir=../out
output.format=HTML
output.launchViewer=true
template.1=../templates/XSDDoc/FramedDoc.tpl
template.2=../templates/XSDDoc/PlainDoc.tpl
template.3=../templates/WSDLDoc/FramedDoc.tpl
template.4=../templates/XMLDoc/PlainDoc.tpl
template.5=../templates/XMLDoc/FramedDoc.tpl
template.6=../samples/sales/sales.tpl
template.7=../samples/personal/personal.tpl
xml.catalogs=urn\:docflex-com\:xml\:defaultcatalog
xml.files.1=http\://www.w3.org/2001/XMLSchema.xsd
xml.files.2=../samples/HumanEvolution/HumanEvolution.xsd
xml.files.3=../samples/sales/sales.xml
xml.files.4=../samples/sales/sales.xsd
xml.files.5=../samples/personal/personal.xml
